.header {
    background-color: $orange;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3%;
    position: fixed;
    width: 100vw;
    z-index: 1;
    gap: 2rem;
    padding-left: 8rem;

    &_icon {
        width: 2rem;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}