@import './general/colors';
@import './general/mixin';
@import '../components/Header/header';
@import '../components/RecipeList/recipeList';
@import '../components/SearchBox/searchBox';
@import '../components/Error/error';
@import '../components/NoMatch/noMatch';
@import '../components/RecipeBox/recipeBox';
@import '../components/Home/home';
@import '../components/AddRecipe/addRecipe';
@import '../components/RecipeForm/recipeForm';
@import '../components/RecipeReviewCard/recipeReviewCard';

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    display: flex;
    justify-content: center;
    background-color: $lightGray;
    box-sizing: border-box;
    height: max-content;
    min-height: 100vh;
}