@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
.header {
  background-color: #dea732;
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  gap: 1rem;
  width: 100vw;
  z-index: 1;
}
.header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}
.header__nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #000;
  gap: 1rem;
}
.header__icon {
  height: 1.8rem;
  transition: 0.5s;
  cursor: pointer;
}
.header__icon:hover {
  transform: scale(1.1);
}

.recipeList, .loading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
}

.recipeList-wrapper, .loading {
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.1rem;
}
.searchBox__input {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem;
  color: #a09289;
  font-size: 0.9rem;
  min-width: 350px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 0;
  min-width: 200px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  background-color: #dea732;
  text-align: center;
}
.error__img {
  width: 10rem;
}
.error__text {
  font-size: 1.5rem;
  color: #fff;
}

.noMatch {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #dea732;
  height: 100vh;
  width: 100%;
  text-align: center;
}
.noMatch__img {
  max-width: 10rem;
}
.noMatch__text {
  font-size: 1.5rem;
  color: #fff;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  width: 100vw;
  height: 92vh;
  gap: 1rem;
  background-color: #dcd8cf;
}
.home a {
  text-decoration: none;
  flex: 1 1 260px;
}

.addRecipe {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #dcd8cf;
}

.recipeForm {
  margin-top: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2%;
  height: 80%;
}
.recipeForm__input {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem;
  color: #a09289;
  font-size: 0.9rem;
  min-width: 350px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.recipeForm__textarea {
  height: 4rem;
  resize: vertical;
}
.recipeForm__select {
  min-width: 370px;
}
.recipeForm__date {
  background: none;
}
.recipeForm__button {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem;
  color: #a09289;
  font-size: 0.9rem;
  min-width: 350px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  min-width: 370px;
  color: #fff;
  background-color: #dea732;
  transition: ease-in-out 0.3s;
  font-size: 1.1em;
  cursor: pointer;
}
.recipeForm__button:hover {
  transform: scale(1.03);
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.app {
  display: flex;
  justify-content: center;
  background-color: #dcd8cf;
  height: 100vh;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */