.header {
    background-color: $orange;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    gap: 2rem;
    width: 100vw;
    z-index: 1;

    &__nav {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            gap: 2rem;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            color: $txBlack;
            gap: 1rem;
        }

    }

    &__icon {
        height: 2rem;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}