.header {
    background-color: $orange;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;

    &__favorite-filter {
        display: flex;
        align-items: center;
        padding-right: 2rem;
    }

    &__favorite-like {
        color: $white;
    }

    &__nav {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            gap: 2rem;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            color: $txBlack;
            gap: 1rem;
        }

    }

    &__icon {
        height: 1.8rem;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}